.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.inputField:hover {
    border: 1px solid #4f3085;
}

.inputField:focus {
    border: 1px solid #4f3085;
}

.error-text {
    color: red;
    font-size: 14px;
    font-weight: 400;
}

.disabled {
    background-color: rgba(0, 0, 0, 0.5);
}